
body {
    background-image: url(../Photos/pattern-background-desktop.svg);
    background-color: #e0e8ff;
    display: flex;
    background-position: top center;
    background-size:auto;
    background-repeat:repeat-x;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    position: relative;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content .image img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h2 {
    color: #19274a;
    font-weight: 900;
}

.p {
    width: 320px;
    padding-left: 45px;
}
p {
    font-size: 16px;
    color: #878ba8;

}

.img23 {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    flex-direction: row;
    gap : 20px;
    background-color: #f0f2fe;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-bottom: 20px;
   border-radius: 20px;
}
.img23 img {
    width: 55px;
    height: 55px;
}

.img23 h2 {
    font-size: 16px;
    padding-bottom: 0;
}
.img23 p {
    padding-top: 0;
}

.img23 .l a {
    color : #8279e6;
    padding-left : 20px;
    font-weight: 700;
    text-decoration: none;
}

.button button {
    background-color: #766cf1;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    margin-bottom: 20px;
    transition-duration: 0.3s;
    
}

button:hover {
    opacity: 0.8;
    box-shadow:  1px 0px 4px 2px rgb(63 81 181 / 73%);
}
.l2 {
    margin-top: 10px;
    margin-bottom: 30px;
}
.l2 a {
    font-weight: 700;
    color: #303354;
    text-decoration: none;
}